# IntelliJ project files
.idea
*.iml
out
gen

# Python files
.venv
__pycache__/
*.py[cod]
*$py.class


# Project specific files (No need to include all of the cache unless it ends up being reasonably sized)
cache
*.pyc
Testing Scripts/
/pyinstaller/dist
/pyinstaller/build
/pyinstaller/Build Archive
/pyproject.toml
/scratch/
